 @import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600|Pacifico&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  /* background-color: #000000; */
}

#questionBtn,
#restartBtn,
#resetBtn,
#personContainer,
#questionContainer {
  display: none;
}

.container {
  /* border: 1px solid black; */
  padding: 20px;
}

.button {
  font-size: 18px !important;
  margin-top: 30px !important;
  margin-bottom: 40px !important;
  background-color: #23336a !important;
  color: #ffffff !important;
}

#personContainer,
#questionContainer {
  background-color: #29bbc4;
  color: #ffffff;
  border-radius: 10px;
  min-height: 80px;
  margin-top: 20px;
  padding: 30px 40px;
  word-wrap: break-word;
}

#person,
#question {
  position: relative;
  align-content: center;
  font-size: 20px;
}

header {
  position: sticky;
  width: 100vw;
  left: 0;
  top: 0;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 35px;
  font-weight: 500;
  font-family: 'Pacifico', cursive;
  /* color: #ffffff; */
}

footer {
  position: fixed;
  width: 100vw;
  left: 0;
  bottom: 0;
  text-align: center;
  padding: 20px;
}

footer > #logo {
  height: 25px;
}

.darkMode {
  background-color: #000000;
}

.darkMode header {
  color: #ffffff;
}