@import url('https://fonts.googleapis.com/css?family=Caveat:400,700|Pacifico&display=swap');

body {
  font-family: 'Caveat', cursive;
}

#questionBtn,
#restartBtn,
#resetBtn,
#block {
  display: none;
}

.container {
  padding: 20px;
}

.button {
  font-size: 18px !important;
  margin-top: 30px !important;
  margin-bottom: 40px !important;
  background-color: #23336a !important;
  color: #ffffff !important;
}

#gridContainer {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

#questionContainer {
  background-color: #29bbc4;
  color: #ffffff;
  border-radius: 10px;
  /* min-height: 80px; */
  margin-top: 20px;
  padding: 30px 40px;
  word-wrap: break-word;
  width: 90%;
  display: grid;
  align-content: center;
  justify-content: center;
}

#questionContainer #question {
  font-size: 2.7rem;
  line-height: 3rem;
}

#questionImageContainer {
  display: grid;
  justify-content: center;
  align-content: center;
}

#questionImageContainer img {
  max-height: 300px;
  max-width: 400px;
}

#placeholderImage {
  height: 300px;
}

header {
  position: sticky;
  width: 100vw;
  left: 0;
  top: 0;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 35px;
  font-weight: 500;
  font-family: 'Pacifico', cursive;
}

footer {
  position: fixed;
  width: 100vw;
  left: 0;
  bottom: 0;
  text-align: center;
  padding: 20px;
}

footer > #logo {
  height: 25px;
}

.darkMode {
  background-color: #000000;
}

.darkMode header {
  color: #ffffff;
}

.darkMode #questionContainer {
  background-color: #1b1b1b;
}